{% extends 'drivingtest/base.html' %}
{% block title %}{{ category_name }}{% endblock %}
{% block body_block %}
<div class="container">
   <h1 style="">Login</h1>
   <div class="col-sm-4">
   <form class="form-signin span4" id="login_form" method="post" action="/login/">
      <h2 class="form-signin-heading">Please sign in</h2>
      {% csrf_token %}
      {{form.notification|safe}}
      Username<span class="asteriskField">*</span> </label> 
      <div class="controls "> <input class="textinput textInput form-control" id="id_username" maxlength="254" name="username" type="text"> </div>
      <div id="div_id_password" class="form-group">
         <label for="id_password" class="control-label  requiredField">
         Password<span class="asteriskField">*</span> </label> 
         <div class="controls "> <input class="textinput textInput form-control" id="id_password" name="password" type="password"> </div>
      </div>
   
   <button class="btn btn-primary" type="submit">Sign in</button>
   </form>
</div>
</div>
{% endblock %}
